body {
    background-color: bisque;
}
nav.menu {
    position:sticky;
    top: 0;
    background-color:chocolate;
    width: auto;
    height: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

nav a {
    margin: auto;
    text-decoration: none;
    display: inline-block;
    color:white
}

.menu li{
    padding-left: 15px;
    padding-top: 15px;
    display: inline-block;
    list-style: none;
}

.menu  ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    
}

    nav a:before{
    content: '|'
    
    }
    nav a:after{
        content: '|'
    }



h1 {
    color: black;
    font-size:  65px;
    text-align: center;
    padding: 0px 5px;
    font-family: verdana;
}



.menu a:hover{
        color:white;
        animation: 1s ms 1;
        background:rgba(0,0,0,0.2);
        transition: all .5s;    
    }

    @keyframes ms {
        0% {transform: scale(1.2);
        }
    }



h2 {
    margin-bottom: 5px;
    text-align: center;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    margin: 30px;
    width: 200px;
    height:300px;
    transition: all .5s;

}
.icono-mascota{
    width: 50px;
    display: inline-block;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;

}
#iconos{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    

}    

.contenedor {
    display: flex;
    justify-content: center;
}

img:hover{
    transform: scale(1.2);  
}
    
p{
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.productos{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    list-style: none;  
    color: chocolate;
    display: flex

    }

.productos li{
    padding: 0px 100px
}

.royal{
    justify-content: center;
    display: flex;

}
.kongo{
    justify-content:center;
    display: flex;
}



form{
    text-align: center;
    display: block
}

.form-register{
    padding-top: 20px;
    margin: auto;
    width: 500px;
    height: 350px;
    margin-bottom: 50px;
    background-color: chocolate;
}

.botons{
    color:aliceblue;
    background-color:blue;
    width: 300px;
    font-size: 15px;
    margin-top: 20px;
    }

.controls{
    background-color: bisque;
    width: 400px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    height: 20px;
    border: 2px blue solid;
    font-size: 15px;
}